.papa-container {
    display: flex;
    flex-direction: row;
}
  
  .section {
    flex: 1; /* Each section takes up equal height */
    padding: 20px; /* Optional padding for each section */
    box-sizing: border-box;
    border-radius: 30px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
  }

  .section button {
    background-color: #e1e3e7;
    margin: 5px;
  }

  .unique-section {
    flex: 1; /* Each section takes up equal height */
    padding: 20px; /* Optional padding for each section */
    box-sizing: border-box;
    border-radius: 30px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
  }

  .unique-section button {
    margin: 7px;
    background-color: #e1e3e7;
  }

  .app-container {
    display: flex;
    flex-direction: column; 
    width: 30vw; 
    margin: 18px;
    margin-left: 30px;
    margin-top: 40px;
  } 

  .resume-container {
    display: flex;
    flex-direction: column; 
    width: 62vw;
    margin: 10px;
    margin-top: 40px;
    background: #fff; 
    height: 70vw;
}

.education-heading {
  border-radius: 2px;
  margin: 30px;
  text-align: center;
  width: 80%;
  background-color: #EAEFF2;
} 

.education-heading h1 {
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

.education-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  text-align: center; /* Center text within each container */
}

.education-info {
  display: flex;
  width: 80%;
  margin-top: -25px;
}

body {
  background-color: #f3f4f6; 
}


.dates-container {
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: left; /* Center items horizontally */
  align-items: left; /* Center items vertically */
  margin-bottom: -25px;
}

.education-info-group {
  min-width: 200px;
  text-align: left;
  justify-content: left; /* Center items horizontally */
  align-items: left; /* Center items vertically */
  margin-right: 20px;
  font-size: 20px;
}

textarea {
  background-color: #f3f4f6;
  border-radius: 12px;
  margin: 8px;
}

textarea:focus {
  border-color: #3498db; /* Highlight color when selected */
}

label {
  font-weight: bold;
}

.custom-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.custom-buttons button {
  width: 250%;
  margin: 5px;
  background-color: #e1e3e7;
}
  