.papa-container {
    display: flex;
    flex-direction: row;
}

.app-container {
    display: flex;
    flex-direction: column; 
    width: 30vw; 
  } 
  
  .section {
    flex: 1; /* Each section takes up equal height */
    padding: 20px; /* Optional padding for each section */
    box-sizing: border-box;
    border: 1px solid black;
    margin: 5px;
  }


  .resume-container {
    display: flex;
    flex-direction: column; 
    width: 65vw; /
    border: 1px solid black;
    margin-left: 17px;
}

.education-heading {
  border-radius: 2px;
  margin: 30px;
  text-align: center;
  width: 80%;
  background-color: #EAEFF2;
} 

.education-heading h1 {
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

.education-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  text-align: center; /* Center text within each container */
}

.education-info {
  display: flex;
  width: 80%;
  margin-top: -25px;
}



.dates-container {
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: left; /* Center items horizontally */
  align-items: left; /* Center items vertically */
  margin-bottom: -25px;
}

.education-info-group {
  min-width: 180px;
  text-align: left;
  justify-content: left; /* Center items horizontally */
  align-items: left; /* Center items vertically */
  margin-right: 20px;
  font-size: 20px;
}

  